* {
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-transform: capitalize;
}

main {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: stretch;
}

a {
	margin: 1em;
	padding: 2em;
	background-color: whitesmoke;
	text-decoration: none;
	color: dimgray;
	min-height: 3em;
	width: 10em;
	text-align: center;
	box-shadow: 5px 8px 5px silver;
	border-radius: 5px;
	transition: transform 1s;
	transition-timing-function: ease-in-out;

}


a:hover {
	color: black;
	background-color: gainsboro;
	box-shadow: 8px 11px 8px silver;
	transform: scale(1.1, 1.1); 
}
